{% extends '::base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets -%}
    {{ parent() }}
    {% stylesheets output='css/main.css' filter='cssrewrite' debug=false
        'bundles/app/css/styles.css' -%}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body -%}
            {% for type, flashMessage in app.session.flashbag.all() %}
            <div class="alert alert-{{ type }} fade in">
                <button class="close" data-dismiss="alert" type="button">×</button>
                {% if flashMessage.title is defined %}
                <strong>{{ flashMessage.title }}</strong>
                {{ flashMessage.message }}
                {% else %}
                {{ type }}
                {% endif %}
            </div>
            {% endfor %}
            <div id="flash_message" class="alert hidden">
                <strong id="flash_title"></strong>
            </div>
            <div id="uliModal" class="modal fade"></div>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 navbar-header hidden-xs hidden-sm">
                            <a class="navbar-brand-padding" href="{{ path('uli_app_default_index') }}">
                                {%- image '@AppBundle/Resources/public/images/uli-logo.png' -%}
                                <img class="img-responsive" src="{{ asset_url }}" title="ULI" alt="ULI">
                                {%- endimage -%}
                            </a>
                        </div>
                        <div class="col-xs-7 hidden-xs hidden-sm">
                            <ul class="nav navbar-nav navbar-right">
                                <li><span class="speak bold">Speak with a Licensed Insurance Agent:</span> <span class="phone orange bold">888-888-8888</span></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 navbar-header hidden-lg hidden-md">
                            <a class="navbar-brand-padding" href="{{ path('uli_app_default_index') }}">
                                {%- image '@AppBundle/Resources/public/images/uli-logo-small.png' -%}
                                <img class="img-responsive" src="{{ asset_url }}" title="ULI" alt="ULI">
                                {%- endimage -%}
                            </a>
                        </div>
                        <div class="col-xs-6 hidden-lg hidden-md">
                            <span class="bold">Speak with an Agent:</span>
                            {%- image '@AppBundle/Resources/public/images/phone-small.png' -%}
                            <img class="img-responsive" src="{{ asset_url }}" title="ULI" alt="ULI">
                            {%- endimage -%}
                        </div>
                    </div>
                </div>
            </nav>
            <div class="wrapper">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts output='js/main.js' debug=false
        '@AppBundle/Resources/public/js/scripts.js' -%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
